{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Home</title>
    <link rel="stylesheet" href="{% static 'css/chess-style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <h1 id="black-check" style="display:none;">Black In Check</h1>
    <h1 id="black-won" style="display:none;">Game Over!!! Black Won!!!</h1>
    <h1 id="white-check" style="display:none;">White In Check</h1>
    <h1 id="white-won" style="display:none;">Game Over!!! White Won!!!</h1>
    <input type="hidden" id="gameplay_id" value="{{ gameplay_id }}">
    <input type="hidden" id="is_white" value="{{ is_white }}">
    <div class="Board" id="Board"></div>
    <script> var csrftoken = "{{ csrf_token|escapejs }}";</script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/chess.js' %}"></script>
</body>
{% endblock %}

